{% extends 'base.html.twig' %}

{% block body %}
    <div class="card w-50 m-auto">
        <img class="card-img-top img-thumbnail ws-large-img" src="{{ vich_uploader_asset(program) }}" alt="{{ program.title }} poster">
        <div class="card-body d-flex flex-column justify-content-between">
            <h1 class="card-title" style="color: #D68C45;">{{ program.title }}</h1>
            <p class="card-text"><small class="text-muted">Season {{ season.number }}</small></p>
        </div>
        <div class="mx-3">
            <h5>Episode {{ episode.number }}: {{ episode.title }}</h5>
            <p>{{ episode.synopsis }}</p>
        </div>
    </div>

    <div style="width: 100%;" class="text-center my-5">
        <a href="{{ path('program_index') }}" class="font-weight-bold text-decoration-none">
            Back to programs
        </a>
    </div>


    <a href="{{ path('app_episode_index') }}">back to list</a>

    <a href="{{ path('app_episode_edit', {'id': episode.id}) }}">edit</a>

    {{ include('episode/_delete_form.html.twig') }}

    <h2>Comments</h2>
    <ul>
    {% for comment in comments %}
        <li>
            <h5>{{ comment.user.username }} wrote:</h5>
            <p>{{ comment.comment }}</p>
        </li>
    {% endfor %}
        </ul>

    {% if is_granted("ROLE_CONTRIBUTOR") %}
        {% include('comment/new.html.twig') %}
    {% endif %}
{% endblock %}