{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div class="card w-50 m-auto">
        <img class="card-img-top img-thumbnail" src="/build/{{ program.poster }}" alt="{{ program.title }} poster">
        <div class="card-body d-flex flex-column justify-content-between">
            <h1 class="card-title" style="color: #D68C45;">{{ program.title }}</h1>
            <h5>Season {{ season.number }}</h5>
            <p>{{ season.description }}</p>
            <p class="card-text"><small class="text-muted">Year: {{ season.year }}</small></p>
        </div>
            {% for episode in season.episodes %}
                <ul>
                    <li>
                        <h5><a href="{{ path('program_episode_show', {programId: program.id, seasonId: season.id, episodeId: episode.id}) }}">Episode {{ episode.number }}: {{ episode.title }}</a></h5>
                    </li>
                </ul>
            {% endfor %}
    </div>

    <div style="width: 100%;" class="text-center my-5">
        <a href="{{ path('program_index') }}" class="font-weight-bold text-decoration-none">
            Back to programs
        </a>
    </div>
{% endblock %}